
.fullbody img {
    width: 100%; 
    height: 90vh; 
    object-fit: cover; 
    display: block; 
    margin: 0; 
    background-position: center;
    background-size: cover;
}
.text-container {
    width: 50%;
    margin: auto;
    
}

.text-container h1 {
    margin-bottom: 5px;
}
.text-container button {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #f7f8f9;
    transition: 0.3s;
}

.text-container button:hover {
    background-color: transparent;
}
.main {
    padding: 5%; 
    /* height: 1500px;  */

  }
  .pause{
    width: 100%; 
    height: 70vh; 
    background-position: center;
    background-size: cover;
    object-fit: cover; 
    display: block; 
    margin: 0; 
    background-color:black;
  }
  .pause img {
    width: 30%; 
    height: 70vh; 
    display: block;
    object-fit: cover; 
    /* margin-left: auto; */

    margin: 0; 
    background-position: center;
    background-size: cover;
  }
.baba{
    width: 50%;
    margin: auto;
}
.baba h2 {
    margin-bottom: 5px;
    margin-top: -70%;
}
.us{
  width: 70%; 
  height: 60vh; 
  background-position: center;
  background-size: cover;
  object-fit: cover; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* background-color: rgb(198, 184, 166); */
  margin: 0 auto; /* Center horizontally if the width is not full */
  position: relative; /* Allow absolute positioning of inner elements */
  }
  .us .content {
    position: absolute;
    left: 40px; /* Align content to the left */
    top: 30%;
    transform: translateY(-50%);
    
  }

  .us img {
    width: 60%; 
    height: 60vh; 
    display: block;
    object-fit: cover; 
    margin-left: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

  }
  .baba button {
  
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid black;
        transition: 0.3s;

  }
  .last{
    width: 100%; 
    height: 50vh; 
    background-position: center;
    background-size: cover;
    object-fit: cover; 
    display: block; 
    margin: 0; 
    background-color:black;
  }
  .last img {
    width: 30%; 
    height: 50vh; 
    display: block;
    object-fit: cover; 
    background-position: center;
    background-size: cover;
  }
.content{
  display: flex;
}

.content p {
  font-size: 500%;
}
